<table class="document-item-table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Size</th>
      <th>Type</th>
      <th>Categories</th>
      <th>Deleted</th>
      <th>Created at</th>
      <th>Modified at</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ document.id }}</td>
      <td>{{ document.name }}</td>
      <td>{{ document.size }}</td>
      <td>{{ document.type }}</td>
      <td>{{ document.categories }}</td>
      <td>{{ document.deleted }}</td>
      <td>{{ document.createdAt }}</td>
      <td>{{ document.modifiedAt }}</td>
    </tr>
  </tbody>
</table>
